/****************************************RESET*******************************************/

* {
    box-sizing: border-box;
}

html, body, header, main, footer, aside {
    width: 100%;
}

/****************************************VARIABLES*******************************************/

:root {
    --bg-color-body: #F3F5FC;
    --color-dark-blue: #0A3871;
}

/****************************************BODY*******************************************/

body {
    background-color: var(--bg-color-body);
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    padding: 20px 0;
}

/****************************************HEADER*******************************************/

/*********CABECERA*********/
header {
    height: auto;
    padding: 0 20px;
}

/*********CONTENEDOR DEL LOGO*********/
.header__logo-container {
    width: 16.66%;
    text-align: left;
    padding: 0px;
}

/*********IMÁGEN DEL LOGO*********/
.header__logo-container img {
    display: inline-block;
}

/****************************************MAIN*******************************************/

/*********CONTENIDO PRINCIPAL*********/
.main {
    padding: 20px;
}

/*********CONTENEDOR DEL TEXT AREA*********/
.main__input-container {
    height: auto;
}

/*********TEXT AREA*********/
.main__input-container textarea {
    font-family: inherit;
    font-size: 32px;
    font-weight: 400;
    color: var(--color-dark-blue);
    width: 100%;
    border: none;
    background-color: var(--bg-color-body);
    margin-bottom: 20px;
}

/*********CONTENEDOR DE LOS BOTONES*********/
.main__btn-container {
    width: 100%;
    margin-bottom: 30px;
}

/*********BOTONES*********/
.main__btn-container button {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--bg-color-body);
    border: 1px solid var(--color-dark-blue);
    color: var(--color-dark-blue);
    font-size: 16px;
}

/*********EL PRIMER BOTÓN*********/
.main__btn-container button:first-child {
    margin-bottom: 24px;
}

/****************************************ASIDE*******************************************/

/*********ASIDE*********/
.aside {
    padding: 20px;
}

/*********CONTENEDOR DE LA SALIDA POR PANTALLA*********/
.aside__output-container {
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

/*********CONTENEDOR DEL CONTENIDO DEL TÍTULO Y DEL PÁRRAFO*********/
.output-container__content {
    text-align: center;
}

/*********TITULO*********/
.output-container__content h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

/*********PÁRRAFO*********/
.output-container__content p {
    font-size: 16px;
}

/****************************************FOOTER*******************************************/
