/*RESET*/
* {
    box-sizing: border-box;
}

html, body, header, main, footer, aside {
    width: 100%;
}

/*VARIABLES*/
:root {
    --bg-color-body: #F3F5FC;
    --color-dark-blue: #0A3871;
}

/*GENERAL*/
body {
    background-color: var(--bg-color-body);
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

/*HEADER*/
header {
    height: auto;
}

.header__logo-container {
    width: 16.66%;
    text-align: center;
    padding: 20px 5px;
}

.header__logo-container img {
    display: inline-block;
}

/*MAIN*/
.main {
    padding: 20px;
}

.main__input-container {
    height: auto;
}

.main__input-container textarea {
    width: 100%;
    border: none;
    background-color: var(--bg-color-body);
    margin-bottom: 20px;
}

.main__btn-container {
    width: 100%;
    margin-bottom: 30px;
}

.main__btn-container button {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--bg-color-body);
    border: 1px solid var(--color-dark-blue);
    color: var(--color-dark-blue);
    font-size: 16px;
}

.main__btn-container button:first-child {
    margin-bottom: 24px;
}

/*ASIDE*/
.aside {
    padding: 20px;
}

.aside__output-container {
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.output-container__content {
    text-align: center;
}

.output-container__content h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.output-container__content p {
    font-size: 16px;
}



/*FOOTER*/